version: '3'

services:
  jenkins:
    container_name: jenkins
    image: jenkins-ansible
    build:
      context: jenkins-ansible
    ports:
      - "8080:8080"
    volumes:
      - "$PWD/jenkins_home:/var/jenkins_home"
    networks:
      - net

  remote_host:
    container_name: remote-host
    image: remote-host
    build:
      context: centos7
    networks:
      - net

  db:
    container_name: db
    image: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=mysql
      - MYSQL_DATABASE=people
    volumes:
      - mysql-db:/var/lib/mysql
    networks:
      - net

  web:
    container_name: web
    image: ansible-web
    ports:
      - "80:80"
    build:
      context: jenkins-ansible/web
    networks:
      - net

  tomcat:
    container_name: tomcat
    image: tomcat:8
    ports:
      - "8888:8080"
    networks:
      - net

  git:
    container_name: git-server
    image: gitlab/gitlab-ce:latest
    ports:
      - "8090:80"
    volumes:
      - /srv/gitlab/config:/etc/gitlab
      - /srv/gitlab/logs:/var/log/gitlab
      - /srv/gitlab/date:/var/opt/gitlab
    networks:
      - net

networks:
  net:
volumes:
  mysql-db:
